# Python
**/__pycache__/
*.py[cod]
*$py.class
*.so
.python-version

# Virtual Environments
.venv/
venv/
env/
.env

# Data & Exports (Sensitive)
*.json
*.db
*.sqlite3
*.gpx
!web/*.html
!example.png

# IDEs & System
.idea/
.vscode/
.DS_Store
*.log

# UV (Optional: usually committed for apps, but kept here for completeness)
# uv.lock
